

 @model Cadeteria.VIewModels.AdminCadeteViewModel


<div class="container">
    <div class="row">
        <div class="col-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" asp-area="" asp-controller="Cadetes" asp-action="Index">Buscar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Cadetes" asp-action="Alta">Nuevo Cadete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Cadetes" asp-action="AsignarVehiculo">Asignar Vehiculo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Cadetes" asp-action="ModificarCadete">Modificar Datos</a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <h1>Bienvenido a la sección de cadetes</h1>

            @if (@Model != null)
            {

                <form>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Buscar Cadete:</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Juan Perez">
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
                <div>
                    <h2>Últimos 3 cadetes cargados</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Vehiculo</th>
                            <th scope="col">Modificar</th>
                            <th scope="col">Borrar</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{

                            foreach (var cad in @Model.ListaCadetes)
                            {
                                                <tr>

                                                    <td scope="col">@cad.IdCad</td>
                                                    <td scope="col"> @cad.Nombre </td>
                                                    <td scope="col"> @cad.Telefono </td>
                                                    <td scope="col"> @cad.Direccion </td>

                                                    @if (cad.IdVehiculo == 0)
                                                    {
                                                        <td scope="col"> <button asp-action="" asp-controller="" class="btn btn-success">Asignar</button></td>
                                                    }
                                                    else
                                                    {
                                                        <td scope="col"> - </td>
                                                    }
                                                    <td scope="col"> <button asp-action="" asp-controller="" class="btn btn-secondary">Editar</button>  </td>
                                                    <td scope="col"> <button asp-action="" asp-controller="" class="btn btn-danger">Borrar</button>  </td>
                                                </tr>
                            }

                        }

                    </tbody>
                </table>
            }


        </div>
    </div>
</div>